<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        {% load staticfiles %}
        <link href="{% static 'css/hello.css' %}" rel="stylesheet" type="text/css" />
        {% block head %}
            <title>Django-hello-world</title>
        {% endblock head %}
    </head>
    <body>
        {% block body %}
            {% block content %}
            {% endblock content %}
        {% endblock body %}
    </body>
</html>
