{% extends "base.html" %}

{% block head %}
{% load staticfiles %}

    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>42 Coffee Cups Test Assignment - changing contact data</title>
    {% comment %}<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script> {% endcomment %}


    <script src="//code.jquery.com/jquery-1.9.1.js"></script>


    {% comment %} Ajax form submission {% endcomment %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
    <script src="//malsup.github.com/jquery.form.js"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ajax-form.js' %}"></script>

    {% comment %} masking form while uploading data {% endcomment %}
    <link href="{% static 'css/jquery.loadmask.css' %}" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{% static 'js/jquery.loadmask.min.js' %}"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script type="text/javascript" src="{% static 'js/datepicker.js' %}"></script>


{% endblock %}


{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<h3>42 Coffee Cups Test Assignment</h3>
{# <form action="." method="post" enctype="multipart/form-data" id="contactform">  #}
<form action="{% url 'form' %}" method="post" enctype="multipart/form-data" id="contactform">
    <div id="ajaxwrapper">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <table width="800" cellspacing="10" cols="4">
            <tbody valign="top">
            <tr><td align="right" width="10px" width="50px">Name:</td>
                <td width="35%"><div class="fieldWrapper">
                    {{ form.name.errors }}
                    <label for="name"></label>
                    {{ form.name }} </div></td>
                <td width="10px" align="right">Email:</td>
                <td width="35%"><div class="fieldWrapper">
                    {{ form.email.errors }}
                    <label for="email"></label>
                    {{ form.email }} </div></td></tr>
            <tr><td align="right">Last Name:</td>
                <td><div class="fieldWrapper">
                    {{ form.surname.errors }}
                    <label for="surname"></label>
                    {{ form.surname }} </div></td>
                <td width="10px" align="right">Jabber:</td>
                <td><div class="fieldWrapper">
                    {{ form.jabber.errors }}
                    <label for="jabber"></label>
                    {{ form.jabber }} </div></td></tr>
            <tr><td align="right">Date of birth:</td>
                <td><div class="fieldWrapper">
                    {{ form.date_of_birth.errors }}
                    <label for="date_of_birth"></label>
                    {{ form.date_of_birth }} </div></td>
                <td align="right">Skype:</td>
                <td><div class="fieldWrapper">
                    {{ form.skype.errors }}
                    <label for="skype"></label>
                    {{ form.skype }} </div></td>
            <tr><td rowspan="1" align="right">Photo:</td>
                <td rowspan="1"><div class="fieldWrapper">
                    {{ form.photo.errors }}
                    <label for="photo"></label>
                    {{ form.photo }} </div></td>
                <td colspan="2" valign="bottom">Other contacts:</td></tr>
            <tr><td rowspan="4" colspan="2"><img src="{{ photo.url }}" whdth="90%"></td>
                <td colspan="2"><div class="fieldWrapper">
                    {{ form.other_contacts.errors }}
                    <label for="other_contacts"></label>
                    {{ form.other_contacts }} </div></td></tr>
            <tr><td colspan="2">Bio:</td>
            <tr><td colspan="2"><div class="fieldWrapper">
                {{ form.bio.errors }}
                <label for="bio"></label>
                {{ form.bio }} </div></td></tr>
            </tbody>
        </table>
        <p id="sendwrapper">
            <input type="submit" value="Save" id="sendbutton"/>
            <a href="/">Cancel</a>
        </p>
    </div>
</form>

<hr align="left">
<a href="/last_requests">requests</a>

{% endblock %}

