{% extends "base.html" %}

{% block head %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>42 Coffee Cups Test Assignment - Requests</title>

    <script src="//code.jquery.com/jquery-2.0.3.js" type="text/javascript"></script>
    <script type="text/javascript" src="//tablesorter.ru/jquery.tablesorter.min.js"></script>
    {% load staticfiles %}
    {% load inplace_edit %}
    {% inplace_static %}
    <script type="text/javascript" src="{% static 'js/tablesorter.js' %}"></script>
{% endblock head %}

{% block content %}
<form method="post" action="">
    <table id="reqTable" class="tablesorter">
        <thead>
            <tr>
                <th>date</th>
                <th>user</th>
                <th>url</th>
                <th>method</th>
                <th>priority</th>
            </tr>
        </thead>
        <tbody valign="top">
        {% for req in requests %}
            <tr>
                <td>{{ req.datetime }}</td>
                <td>{{ req.user }}</td>
                <td>{{ req.url }}</td>
                <td>{{ req.method }}</td>
                <td>{% inplace_edit "req.priority" %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</form>

{% endblock %}
