{% extends "base.html" %}

{% block head %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>42 Coffee Cups Test Assignment - Requests</title>
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'js/jquery-1.10.2.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tablesorter.js' %}"></script>

    {% load staticfiles %}
    <link href="{% static 'css/demo_table.css' %}" rel="stylesheet" type="text/css" />
{% endblock head %}

{% block content %}
{% load inplace_edit %}
{% inplace_static %}
<h3>42 Coffee Cups Test Assignment - Requests</h3>
<b>Click on column header to choose sorting<br>Double click on priority to edit value</b>
<form method="post" action="">
    <table id="reqTable" >
        <thead>
            <tr>
                <th>Date and time</th>
                <th>User</th>
                <th>URI</th>
                <th>Method</th>
                <th>Priority</th>
            </tr>
        </thead>
        <tbody>
        {% for req in requests %}
            <tr>
                <td class="request_date">{{ req.datetime }}</td>
                <td>{{ req.user }}</td>
                <td>{{ req.url }}</td>
                <td>{{ req.method }}</td>
                <td>{% inplace_edit "req.priority" %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</form>

{% endblock %}
